_bookdown_files/*
.Rproj.user/
rtorch-minimal-book.rds
# public/
datasets/
model.ckpt
render6e8023236a5f.rds
render700f52bd7b8c.rds
hide_code.html
libs/accessible-code-block-0.0.1/empty-anchor.js
libs/jquery-2.2.3/*
*.rds
.Rhistory
.ts/
